<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>2014-01-01</string>
    <string>2014-01-13</string>
    <string>2014-02-11</string>
    <string>2014-03-21</string>
    <string>2014-04-29</string>
    <string>2014-05-03</string>
    <string>2014-05-04</string>
    <string>2014-05-05</string>
    <string>2014-05-06</string>
    <string>2014-07-21</string>
    <string>2014-09-15</string>
    <string>2014-09-23</string>
    <string>2014-10-13</string>
    <string>2014-11-03</string>
    <string>2014-11-23</string>
    <string>2014-11-24</string>
    <string>2014-12-23</string>
    <string>2015-01-01</string>
    <string>2015-01-12</string>
    <string>2015-02-11</string>
    <string>2015-03-21</string>
    <string>2015-04-29</string>
    <string>2015-05-03</string>
    <string>2015-05-04</string>
    <string>2015-05-05</string>
    <string>2015-05-06</string>
    <string>2015-07-20</string>
    <string>2015-09-21</string>
    <string>2015-09-23</string>
    <string>2015-10-12</string>
    <string>2015-11-03</string>
    <string>2015-11-23</string>
    <string>2015-12-23</string>
    <string>2016-01-01</string>
    <string>2016-01-11</string>
    <string>2016-02-11</string>
    <string>2016-03-20</string>
    <string>2016-03-21</string>
    <string>2016-04-29</string>
    <string>2016-05-03</string>
    <string>2016-05-04</string>
    <string>2016-05-05</string>
    <string>2016-07-18</string>
    <string>2016-09-19</string>
    <string>2016-09-22</string>
    <string>2016-10-10</string>
    <string>2016-11-03</string>
    <string>2016-11-23</string>
    <string>2016-12-23</string>
    <string>2017-01-01</string>
    <string>2017-01-02</string>
    <string>2017-01-09</string>
    <string>2017-02-11</string>
    <string>2017-03-20</string>
    <string>2017-04-29</string>
    <string>2017-05-03</string>
    <string>2017-05-04</string>
    <string>2017-05-05</string>
    <string>2017-07-17</string>
    <string>2017-09-18</string>
    <string>2017-09-23</string>
    <string>2017-10-09</string>
    <string>2017-11-03</string>
    <string>2017-11-23</string>
    <string>2017-12-23</string>
    <string>2018-01-01</string>
    <string>2018-01-08</string>
    <string>2018-02-11</string>
    <string>2018-02-12</string>
    <string>2018-03-21</string>
    <string>2018-04-29</string>
    <string>2018-04-30</string>
    <string>2018-05-03</string>
    <string>2018-05-04</string>
    <string>2018-05-05</string>
    <string>2018-07-16</string>
    <string>2018-09-17</string>
    <string>2018-09-23</string>
    <string>2018-09-24</string>
    <string>2018-10-08</string>
    <string>2018-11-03</string>
    <string>2018-11-23</string>
    <string>2018-12-23</string>
    <string>2018-12-24</string>
    <string>2019-01-01</string>
    <string>2019-01-14</string>
    <string>2019-02-11</string>
    <string>2019-03-21</string>
    <string>2019-04-29</string>
    <string>2019-05-03</string>
    <string>2019-05-04</string>
    <string>2019-05-05</string>
    <string>2019-05-06</string>
    <string>2019-07-15</string>
    <string>2019-09-16</string>
    <string>2019-09-23</string>
    <string>2019-10-14</string>
    <string>2019-11-03</string>
    <string>2019-11-04</string>
    <string>2019-11-23</string>
    <string>2019-12-23</string>
    <string>2020-01-01</string>
    <string>2020-01-13</string>
    <string>2020-02-11</string>
    <string>2020-03-20</string>
    <string>2020-04-29</string>
    <string>2020-05-03</string>
    <string>2020-05-04</string>
    <string>2020-05-05</string>
    <string>2020-05-06</string>
    <string>2020-07-20</string>
    <string>2020-09-21</string>
    <string>2020-09-22</string>
    <string>2020-10-12</string>
    <string>2020-11-03</string>
    <string>2020-11-23</string>
    <string>2020-12-23</string>
</array>
</plist>
