<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MSGLV10H</key>
		<string>今日の飲み会はもう諦めましょう。</string>
		<key>MSGLV20H</key>
		<string>デスクで食べるサラダに救いを求めるのはやめましょう。</string>
		<key>MSGLV30H</key>
		<string>会社にシャワーはないので、早く帰りたいですね。</string>
		<key>MSGLV50H</key>
		<string>漫喫のシャワーは良いですが、漫画を読むと、明日の仕事に影響が…</string>
		<key>MSGLV100H</key>
		<string>段ボールを敷くと、簡易ベッドの完成！風邪には気を付けて…</string>
	</dict>
	<dict>
		<key>MSGLV10H</key>
		<string>今月もこの戦場に足を踏み入れることになるとは…</string>
		<key>MSGLV20H</key>
		<string>ちょっとまて、今月の残業、このペースはヤバくないか？</string>
		<key>MSGLV30H</key>
		<string>大台突入だ。社畜ではない。飽くなき挑戦をしているんだッ！</string>
		<key>MSGLV50H</key>
		<string>何度目だろう、まぶたとの格闘、頭痛とのせめぎ合い、肩こりの強襲…</string>
		<key>MSGLV100H</key>
		<string>そして、伝説の向こうへ…</string>
	</dict>
	<dict>
		<key>MSGLV10H</key>
		<string>残業とは、漢の壮絶なる献身である！</string>
		<key>MSGLV20H</key>
		<string>残業には、魂を削り一瞬の輝き（給料）を掴む美学がある！</string>
		<key>MSGLV30H</key>
		<string>残業は時に厳しい。そして、上司は更に厳しい。</string>
		<key>MSGLV50H</key>
		<string>残業に語りかける。「金じゃない、そうじゃないんだ、そうだけど！」</string>
		<key>MSGLV100H</key>
		<string>残業の果てには、眩い程の聖域（入院）が待っている！</string>
	</dict>
	<dict>
		<key>MSGLV10H</key>
		<string>聞いてくれ！この残業が俺の本気の証だ！</string>
		<key>MSGLV20H</key>
		<string>聞いてくれ！今月は残業長者だ！</string>
		<key>MSGLV30H</key>
		<string>聞いてくれ！今月残業ヤバい、泊まりか！泊まりなのかッ！</string>
		<key>MSGLV50H</key>
		<string>聞いてくれ！今月はあまり会社から出てない気がしている！</string>
		<key>MSGLV100H</key>
		<string>聞いてくれ！残業でガチで友達いなくなる勢いだ！</string>
	</dict>
	<dict>
		<key>MSGLV10H</key>
		<string>夜が明けて、始発で帰り、また来るぜ</string>
		<key>MSGLV20H</key>
		<string>目を閉じて、落ちて寝ビクで、また落ちて…</string>
		<key>MSGLV30H</key>
		<string>会社内、あらゆる寝床、把握済み。</string>
		<key>MSGLV50H</key>
		<string>非常食、寝袋着替え、ここが家。</string>
		<key>MSGLV100H</key>
		<string>警備員、俺のが居るぞ、この会社…</string>
	</dict>
	<dict>
		<key>MSGLV10H</key>
		<string>ドライアイはまずい、だが頭は問題なさそうだ。</string>
		<key>MSGLV20H</key>
		<string>肩こりはまずい、だが意識は問題なさそうだ。</string>
		<key>MSGLV30H</key>
		<string>気づくと寝落ちはまずい、だが筋肉は問題なさそうだ。</string>
		<key>MSGLV50H</key>
		<string>ヘルニアはまずい、だが体内は問題なさそうだ。</string>
		<key>MSGLV100H</key>
		<string>吐血はまずい、この手の震えは止まらないようだ。</string>
	</dict>
	<dict>
		<key>MSGLV10H</key>
		<string>残業も時には必要ですよね。</string>
		<key>MSGLV20H</key>
		<string>忙しい時期が終われば、きっといいことがありますよ。</string>
		<key>MSGLV30H</key>
		<string>あなたの頑張りをみんな見てくれてますよ。</string>
		<key>MSGLV50H</key>
		<string>仕事を投げ出さない事は大事ですが、体も大事にしたいですね。
</string>
		<key>MSGLV100H</key>
		<string>心身共に心配な状態！誰かに相談した方が良いですよ。
</string>
	</dict>
	<dict>
		<key>MSGLV10H</key>
		<string>今月は少し残業増えてきたか…</string>
		<key>MSGLV20H</key>
		<string>集中すると時間を忘れる。もうひと息で区切りをつけたい。</string>
		<key>MSGLV30H</key>
		<string>このあたりで、業務内容を一度整理したほうがいいな。</string>
		<key>MSGLV50H</key>
		<string>眠い時は、意識して休憩をいれてダラダラしないようにするぞ。</string>
		<key>MSGLV100H</key>
		<string>さすがにヤバいな。誰かに相談しよう。上司？同僚？医者？</string>
	</dict>
	<dict>
		<key>MSGLV10H</key>
		<string>最近残業続いてますよね。今度夜ごはん行きましょうよ！</string>
		<key>MSGLV20H</key>
		<string>なんだか、残ってるメンバーが固定されてきましたね。</string>
		<key>MSGLV30H</key>
		<string>やれども終わらない仕事だけど、きっと成長に繋がってるよね！</string>
		<key>MSGLV50H</key>
		<string>このあたりからは、ムリは禁物。残業は計画的に！ですよね。</string>
		<key>MSGLV100H</key>
		<string>頑張っちゃいましたね。休むのも仕事！リフレッシュしましょう！</string>
	</dict>
</array>
</plist>
