<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>第１条	（利用規約）</string>
		<key>Detail</key>
		<string>この利用規約は、株式会社ブレイブソフト(以下、「当社」)が提供する、スマートフォンを利用したアプリケーションサービス
「俺の残業代がこんなに少ないはずがない。」(以下、「本サービス」)をユーザーが利用するにあたっての利用条件を定めるものとします。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>第２条	（適用範囲）</string>
		<key>Detail</key>
		<string>この利用規約は、本サービスの利用者全員に適用されるものとします。
また、本サービスのユーザーは当社が運営する本アプリに対して、当社が掲示する内容に従って本サービスをご利用いただくものとします。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>第３条	（本規約の変更）</string>
		<key>Detail</key>
		<string>当社は、ユーザーの了承を得ることなく本利用規約を変更する場合があります。この場合サービスの利用条件は変更後の利用規約に準拠するものとします。ユーザーが本サービスの利用を行った場合には、ユーザーは変更後の利用規約についても承諾したものとみなします。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>第４条	（ユーザー）</string>
		<key>Detail</key>
		<string>ユーザーとは本サービスの利用者を指します。ユーザーは、本規約を遵守した上でサービスをご利用いただくものとします。
また、ユーザーが未成年である場合は、本サービスを利用することができません。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>第５条	（サービス）</string>
		<key>Detail</key>
		<string>１.本サービスは、スマートフォンアプリを通じた無料のサービスです。ただし、今後有料機能を増設する可能性があります。本サービスは、日本国内のみで利用可能です。
		
２.当社は、ユーザーに本サービスを提供します。ただし、当社の提供するサービスの内容は、本規約において当社がユーザーに提供する旨を明示的に定めた範囲に限ります。当社はユーザーに対して、かかる範囲を超える行為を行う義務を一切負わないものとします。

３.本サービスの利用に必要な通信費用等はすべてユーザーが負担するものとします。

４.当社は、ユーザーへ事前に通知することなく本サービスの内容を変更、中断または廃止できるものとします。当社は、これらの行為によって生じるいかなる損害および障害等に対しても、ユーザーに対し一切の責任を負わないものとします。
		
５.当社は、本規約に基づくユーザーとの権利義務の全部もしくは一部を第三者に譲渡もしくは承継することができるものとします。当社は、これらの行為によって生じるいかなる損害および障害等に対しても、ユーザーに対し一切の責任を負わないものとします。

６．ユーザーは本サービス内で自らが送信・投稿した内容について全責任を負うものとします。内容については本サービスの利用促進のため、当社が複製、利用できるものとし、ユーザーは、当社及び当社から権利を承継し又は許諾された者に対して著作者人格権等の人格権を行使しないことに同意するものとします。また、ユーザーは、以下の内容を送信・投稿することはできません。

    a. 事実ではないもの
    b. 他人の名誉または信用を傷つけるもの
    c. わいせつな表現
    d. 詐欺的、虚偽的、欺瞞的である、もしくは誤解を招くもの
    e. 個人または団体に対して差別、偏見、人種差別、憎悪、嫌がらせまたは侵害を助長するもの
    f. 暴力的もしくは脅迫的である、または他者に対して暴力的もしくは脅迫的な行為を助長するもの
    g. 特許権、実用新案権、意匠権、商標権、著作権、肖像権その他の他人の権利を侵害するもの
    h. コンピューターウィルスを含むもの
    i. 異性交際を求めるもの
    j. 異性交際の求めに応じるもの
    k. 異性交際に関する情報を媒介するもの
    l. 公序良俗に反するもの
    m. 法令に違反するものまたは違反する行為を助長するもの
    n.リンク、ＵＲＬ
    o. その他当社が不適当と判断したもの

また、ユーザーが本規約に反した場合、通告すること無く内容を削除できるものとします。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>第６条	（禁止事項）</string>
		<key>Detail</key>
		<string>ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当する行為又は該当すると当社が判断する行為をしてはなりません。
１.本規約に違反する行為。
２.ユーザーは、本サービスを通じて入手したいかなるデータ、情報、文章、発言、ソフトウェア等も、著作権法で認められた私的利用の範囲を超える複製、販売、出版のために利用することはできません。これらを第三者に行わせる場合も同様に利用することはできません。
３.ユーザーは、本サービスを使用した営業活動、営利を目的とした利用等はできないものとします。
４.当社もしくはその他の第三者の知的財産権、商標権、その他の財産的もしくは人格的な権利を侵害する行為、またはこれらを侵害する恐れのある行為。
５.他のユーザーおよび第三者の財産、プライバシーもしくは肖像権を侵害する行為。
６.当社、他のユーザーまたは第三者に不利益もしくは損害を与える行為、またはその恐れのある行為。
７.法令または条例等に違反する行為。
８.犯罪行為、犯罪行為に結びつく行為もしくはこれを助長する行為、またはその恐れのある行為。
９.他のユーザーまたは第三者を差別もしくは誹謗中傷し、または他者の名誉もしくは信用を毀損する行為。
10.わいせつ、児童ポルノまたは児童虐待に相当する文書、広告等を送信もしくは表示する行為。
11.公序良俗に反する行為もしくはその恐れのある行為、または公序良俗に反する恐れのある情報を、他のユーザーもしくは第三者に提供する行為。
12.他者になりすましてサービスを利用する行為。
13.当社のシステムへの不正アクセス、コンピューターウィルスの頒布、データや情報の改ざんおよび消去等、本サービスの正常な運営を妨げる行為、またはその恐れのある行為。
14.公職選挙法に抵触する行為。
15.本サービスの信用を損なう行為、またはその恐れのある行為。
16.本サービスを利用した営利行為および営業行為、またはその準備行為やその恐れのある行為。
17.本サービスの運営を妨害する行為、当社の信用を毀損し、もしくは当社の財産を侵害する行為、または他者もしくは当社に不利益を与える行為。
18.事実に反する情報または事実に反する恐れのある情報を提供する行為。
19.当社もしくは当社の子会社、関連会社その他の協力会社等の人物に成りすます行為またはその恐れのある行為。
20.青少年の健全な育成に悪影響を及ぼす恐れがある行為。
21.不正によって課金アイテムやその他アプリ内のアイテムを得ようとする行為。
22.その他、当社が不適切と判断する行為。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>第７条	（サービスの中断、停止）</string>
		<key>Detail</key>
		<string>１.当社は、本サービスの提供に必要な設備の保守を行う場合、本サービスの全部または一部の提供を中断または停止することができるものとします。
２.当社は、本サービスの提供に必要な設備に不具合を含む障害が発生した場合や地震・火災・洪水等の災害が発生した場合、停電等の非常事態が発生した場合には、本サービスの全部または一部の提供を中断または停止することができるものとします。
３.当社は、本サービスの中断または停止により生じたユーザーの損害について一切の責任を負わないものとします。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>第８条	（免責事項）</string>
		<key>Detail</key>
		<string>１.当社は、当社が提供するデータ等について、その適用性、完全性、正確性、確実性、有用性等についていかなる責任も負わないものとし、保証もいたしません。
２.当社は、本サービスに用いるデータ等が消失、または他者により改ざんされた場合は、技術的に可能な範囲でデータ等の復旧に努めるものとします。またその復旧への努力を以って、消失または改ざんに伴うユーザーまたは他者からの損害賠償の請求を免れるものとします。
３.当社は、本サービスの提供、遅滞、変更、中断、中止もしくは廃止等によってユーザーおよび第三者に発生した損害について、一切責任を負わないものとします。
４.ユーザーが他のユーザーもしくは第三者と紛争を生じた場合、ユーザは自己の費用と責任で解決するものとし、当社に一切の迷惑または損害を与えないものとします。
5.当社は、ユーザーが本サービスを使用、もしくは使用しなかったことに起因するいかなる損害や損失に対しても責任を負いません。
6.当社は、当社が使用する設備、ユーザーが使用する端末、通信環境等、外的な要因、予期しないクラッキング・不正アクセス・不具合等によって生じる本サービス内の解答結果の不整合等について、一切責任を負わないものとします。ただし当社は、不整合が生じないよう最大限努力するものとします。
7. GPS測位は、ユーザーが使用する端末、通信環境等、外的な要因により誤差が生じることがあり、地図上に表示されるユーザーの位置（緯度経度）情報は、必ずしも正確ではありません。ゆえに、当社は、GPS測位に基づき集計された結果の正確性について一切保証しないものとします。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>第9条（利用者情報・プライバシーポリシー）</string>
		<key>Detail</key>
		<string>本サービスにおける、ユーザーについて利用者情報の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。

●	収集する利用者情報及び収集方法
本サービスは生存する個人の氏名、生年月日、メールアドレスなどの個人情報を取得しませんが、以下の情報（以下「利用者情報」といいます。）について収集します。

aユーザーから送信・投稿された内容
bその他当社が定める入力フォームにユーザーが入力する情報
cユーザーが本サービスの利用において、他のサービスと連携を許可することにより、当該他のサービスからご提供いただく情報
d当社は、本サービスへのアクセス状況やそのご利用方法に関する情報を収集することがあります。これには以下の情報が含まれます。
端末機種情報、端末のイベント情報
ログ情報
クッキー情報

●	利用目的
➢	本サービスに関する登録の受付、本人確認等本サービスの提供、維持、保護及び改善のため
➢	本サービスに関するご案内、お問い合せ等への対応のため
➢	本サービスに関する当社の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため
➢	本サービスに関する規約等の変更などを通知するため
➢	本サービスの改善、新サービスの開発等に役立てるため
当社のサービスに関連して、ユーザーを識別できない形式に加工した統計データを作成するため
➢	広告の配信または表示のため
➢	その他マーケティングに利用するため
➢	上記の利用目的に付随する利用目的のため

●	外部送信、第三者提供、情報収集モジュールの有無
当社は、利用者情報を利用したターゲティング広告の配信及びユーザーの動向を調査する等のためにGoogle Analytics等を用い、統計的な利用情報を取得しています。Google Analytics の詳細に関しては、下記をご確認ください。
http://www.google.com/analytics/

●	第三者提供
当社は、利用者情報についてあらかじめユーザーの同意を得ないで、第三者に提供しません。但し、次に掲げる場合はこの限りではありません。
当社が利用目的の達成に必要な範囲内において利用者情報の取扱いの全部または一部を委託する場合
合併その他の事由による事業の承継に伴って利用者情報が提供される場合
第4項の定めに従って、情報収集モジュール提供者へ利用者情報が提供される場合
国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることによって当該事務の遂行に支障を及ぼすおそれがある場合
その他、個人情報保護法その他の法令で認められる場合</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>第10条	（専属的合意管轄裁判所）</string>
		<key>Detail</key>
		<string>１.本サービスに関連して当社とユーザーとの間で問題が生じた場合には、両者が誠意をもって協議するものとします。
２.協議しても解決しない場合、東京地方裁判所を当社とユーザーとの専属的合意管轄裁判所とします。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>第11条	（準拠法）</string>
		<key>Detail</key>
		<string>この利用規約に関する準拠法は、日本法とします。
		
この規約は平成25年2月1日から実施します。</string>
	</dict>
</array>
</plist>
