<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Q1：このアプリは何？</string>
		<key>Detail</key>
		<string>残業代という大人の事情を考えるキッカケをくれるアプリです。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q2：このアプリのタイトルは。。。？</string>
		<key>Detail</key>
		<string>多数決で決めました。わかりやすくて気に入っています。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q3：何ができるの？</string>
		<key>Detail</key>
		<string>あなたの位置情報を参考にして、労働基準法に定めた残業代の概算を表示できます。
その金額は言わば、あなたの残業の価値。無駄にしないで早く家に帰りましょう。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q4：表示される残業代は会社に請求できるの？
どうすればいいでしょうか？</string>
		<key>Detail</key>
		<string>表示される残業代は概算であり、就業規則は職場ごとに異なるため、もちろん請求できません。
しかし、残業時間を少なくするキッカケになるかもしれません。早く家に帰りましょう。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q5：表示される残業代を受け取れなくて切ないんだけど…。</string>
		<key>Detail</key>
		<string>表示される残業代はあなたの時間の価値とも言えます。
無駄にならないよう、残業時間を少なくする工夫をやっていきましょう。
本アプリは何もできませんが、応援しています。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q6：会社で支払われる残業代と違うんだけど！</string>
		<key>Detail</key>
		<string>本アプリはGPSによる位置情報を参考にした残業代の概算となり、また就業規則は職場ごとに異なるため、正確な残業代にならんのです。。あくまで概算として眺めてください。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q7：もっと職場の近くで出退勤の打刻をして欲しいんだけど。</string>
		<key>Detail</key>
		<string>職場の近くで出退勤を打刻するには以下を試してみてください。

設定画面 → 設定内容変更 → 勤務地をタップ → 
勤務地を設定後、スライダーを使って青い円を少し小さくする

※青い円を小さくし過ぎると、打刻し難くなりますのでご注意ください。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q8：会社の近くに住んでるんだけど、計測できる？</string>
		<key>Detail</key>
		<string>勤務地に極端に近い（勤務地から半径約50m以内）場所でお住まいの場合（自営業など）には、勤務地設定で最少の範囲を指定してもご自宅が範囲に含まれてしまう場合があるため、正しく出退勤の動作をしない場合があります。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q9：GPSによる自動打刻が全く動かないんだけど。</string>
		<key>Detail</key>
		<string>　１．バックグラウンドの更新を本アプリに対してオンに設定していますか？（iPhone設定アプリ ＞ 一般 ＞ Appのバックグラウンド更新）⇒有効

　２．位置情報サービスがオフにされていませんか？（iPhoneの設定 ＞ プライバシー ＞ 位置情報サービス）⇒ON

　３．メモリに高い負荷のかかるゲームアプリ等を使っていませんか？本アプリはメモリの確保が出来ない場合、動作を停止してしまう場合があります。

　４．ご利用される環境（建物・周囲の電波障害状況など）によって正しい位置取得や正しいタイミングで打刻がされない場合があります。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q10：残業時間は連続何時間まで測れるの？</string>
		<key>Detail</key>
		<string>毎日午前5時を境にして、翌日の通常勤務に切り替わります。
そのため、最長で午前5時から翌日の午前4時59分までの15時間59分（休憩含まず）までの計測が可能です。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q11：朝5時を過ぎたら残業じゃなくなったけど？</string>
		<key>Detail</key>
		<string>このアプリでは、業務時間を朝の5時を境にして翌日の通常業務として計算するようにしています。
そのため、朝の5時をまたいで業務をすると、前日の残業状態から、日付が変わって通常勤務の状態になります。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q12：法定内休日/法定外休日って何？</string>
		<key>Detail</key>
		<string>休日というのは実は2種類に分けられるんです。休日出勤した際は、時給の割増率が違うのでとっても大切。理解しておきましょう。

▼法定内休日
労働基準法で取得が定められている休日。４週間に４回以上の休日があるはずです。
割増率は35%。

▼法定外休日
会社が自由に設定できる休日。職場によっては無い場合もあります。
割増率は25%。

職場の就業規則に載っているので確認しましょう。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q13：位置や入力した情報の扱いはどうなるの？</string>
		<key>Detail</key>
		<string>ご安心ください。位置や入力した情報はアプリの動作のみに使用され、端末から外に保存されることはありません。本アプリは個人を特定する一切の情報を収集しません。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q14：アプリと関係ないけど、管理職でも残業代って出るの？</string>
		<key>Detail</key>
		<string>就業規則は職場ごとに異なりますので、一概に言えませんが、あなたが労働基準法的に『管理監督者』でなければ多分出るはず。

▼「管理監督者」って何？
わかりやすく言うと、
・時を選ばず経営上の判断や対応が要請され、地位にふさわしいお給料をもらっている方。
・あまりに重要な責任と権限を持っているため、上司に決裁を仰ぐなんて必要ない方。

どうでしょうか？管理監督者ではなさそうですね。

ちなみに、「管理監督者」に当てはまるかどうかは、役職名ではなく、その職務内容、責任と権
限、勤務態様等の実態によって判断します。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q15：就業規則ってなんですか？</string>
		<key>Detail</key>
		<string>労働条件に関する会社と社員との大切なお約束です。
大切な約束なのに内容を理解している人が少ない不思議な規則です。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q16：勤務中、地図上の自分の場所が違うんだけど！</string>
		<key>Detail</key>
		<string>もしかして地下か、高層ビルの近くにお勤めでしょうか？GPSは環境によってよくズレることがあります。本アプリを使うなら窓際がベストです。職場では窓の近くの席に移動させてもらいましょう。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q17：昼休みで外へ出たら退勤になったけどどうすればいいの？</string>
		<key>Detail</key>
		<string>そのまま職場に戻ると、退勤打刻は削除され、継続勤務となりますのでご安心ください。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q18：このアプリで書かれてることって、法的根拠はあるの？</string>
		<key>Detail</key>
		<string>本アプリ内で書かれている労務関連の文章はわかりやすく噛み砕いておりますが、正確性を保証するものではありません。あくまでも参考としてご利用ください。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q19：機種変更したら今までの打刻データは消えちゃうの？</string>
		<key>Detail</key>
		<string>このアプリはiCloudのバックアップ機能に対応しているため、機種変更をした端末が俺残に対応していてiCloudにアクセスができれば、データの引き継ぎができるので安心です！※iCloudを利用する場合には、iPhoneのiCloudの設定が有効になっている必要があるので、iPhoneの設定＞iCloudからサインインされているかを確認しよう！</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q20：このアプリを使うと、電池の消耗って早くなるの？</string>
		<key>Detail</key>
		<string>本アプリはアプリを閉じている状態（バックグラウンド状態）でも、GPS（位置情報）通信を行うので、アプリ利用前と比べて電池の消耗が増える場合があります。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q21：ちょいちょいPUSHでメッセージが送られてくるけど？</string>
		<key>Detail</key>
		<string>あなたのお役に立ちたくて、いくつかのお知らせをさせて頂きました。よくおせっかいとは言われるのですが、それでもあなたのサポートがしたいのです。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q22：残業広場ってなに？</string>
		<key>Detail</key>
		<string>あなたのように、どこかで残業をしている人が、きっと一人で奮闘しているはずです。そんな頑張る方同士がお互いに励まし合える場をご用意しました。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q23：気づいたことはどこで言えばいいの？</string>
		<key>Detail</key>
		<string>「ご意見箱」をご用意しましたので、ここで思いの丈を余すことなく教えてください。あなたの声を聞くことが、よりよい運営の第1歩だと思っています。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q24：紹介コードって何？</string>
		<key>Detail</key>
		<string>「紹介コード」を使って「俺残」をお友達にご紹介して頂けると、いいことがありますよ！お友達にツイッターやフェイスブックやLINEでシェアをすると「紹介コード」をお友達にお知らせできます。この紹介コードをお友達が「俺残」のインストール後、紹介コード入力ページで入力すると、あなたとお友達の双方の残業記録保持期間がグーン！と60日も増えるのです！さあ、残業の多いお友達を思い出してみてください。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q25：残業記録って永遠に記録してくれるの？</string>
		<key>Detail</key>
		<string>記録保持期間は人によって違います。何が違うかというと、記録保持期間の期日が違います。例えば、2015年3月下旬に公開したアプリのバージョン「Ver.2.0」より前はそもそも期限がありません。早期からご利用頂いた特典ですね！それより後の日に登録頂いた方には、記録保持期間の期日が存在します。記録保持期間は、最初に利用開始した日から30日間の記録を保持します。31日目になると、最初の1日目の記録が消えて、その後日を重ねる毎に古い日の残業記録が順次消えていくことになります。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q26：残業記録の保持期間はどうやって伸ばすの？</string>
		<key>Detail</key>
		<string>残業記録の保持期間の最後の日の下に「南京錠」のアイコンが見えますか？このアイコンをタップすると保持期間を延ばすためにやってもらいたいアクションが一覧で表示されます。例えば、「友達に教えよう。＋60日」であれば、友達紹介をして相手が俺残の利用を開始して、紹介コードを入力してくれたら、現在の保持期間に＋60日が延長されるという感じです。アクションの内容や種類は更新していくので、どんどん保持期間を延ばしましょう！</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q27：残業時間の修正はいつできるの？</string>
		<key>Detail</key>
		<string>残業時間の修正はいつでもできます。（できるようになりました！）過去の残業記録の出勤と退勤の時間をタップすることでいつでも修正ができます。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q28：残業記録のページのエンピツとアンテナのアイコンは何？</string>
		<key>Detail</key>
		<string>俺残は、位置情報をアプリが自動的に見て自動打刻しているアプリなのですが、このアイコンは、念のため手動で修正した打刻と自動打刻がわかるようにアイコンで表示を分けています。CSVファイルをメールで送って見てみると、こちらも手動と自動の表示がしてあるので安心ですね。</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Q29：毎日くるお知らせのキャラを固定にしたい。</string>
		<key>Detail</key>
		<string>設定ページから、キャラ設定を変更できるのです。元々はランダムで毎日いろんなキャラがお知らせをしてくれましたが
お気に入りのキャラに固定することは、俺残の機能の中でも上級テクニックと言えるでしょう。ちなみに誰がお気に入りですか？</string>
	</dict>
</array>
</plist>
